@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"),
  url("../fonts/ptsansnarrow.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"),
  url("../fonts/ptsansnarrowbold.woff") format("woff");
  font-weight: 700;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  font: inherit;

  text-align: center;
  color: rgba(255, 255, 255, 1);
  vertical-align: middle;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 1);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(102, 61, 21, 1);
}

.grid {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}


.page {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 1);
}

.page--inner {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(248, 245, 242, 1);
}

.page__header {
  margin-bottom: 80px;
}

.page__main {
  margin-bottom: 65px;
}
.page__main--catalog {
  margin-bottom: 45px;
}

.page__title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 42px;
}

/**************HEADER***************/

.base-nav {
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(0, 0, 0, 1);
}

.base-nav--background::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1716px;
  z-index: -1;
  background-image: url("../img/page-fon.jpg");
  background-position: center -30px;
  background-repeat: no-repeat;
}

.site-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-nav a {
  color: rgba(255, 255, 255, 1);
  display: block;
  padding: 25px 20px;
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: rgba(36, 36, 36, 1);
}

.user-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-nav a {
  display: block;
  padding: 25px 20px;
  color: rgba(255, 255, 255, 1);
}

.user-nav a:hover,
.user-nav a:focus {
  background-color: rgba(36, 36, 36, 1);
}

.logo {
  display: flex;
  justify-content: center;
}

.logo__link {
  display: flex;
  align-items: center;
}

/******************ADVANTAGES********************/

.advantages__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantage {
  width: 300px;
  text-align: center;
}

.advantage__title {
  font-size: 30px;
  line-height: 42px;
}

.base-main__advantages {
  margin-bottom: 80px;
}

.base-main__row {
  color: rgba(0, 0, 0, 1);
  padding: 50px 80px;
  margin-bottom: 35px;

  background-color: rgba(248, 245, 242, 1);
  background-image: url("../img/fon-main.png");
  background-position: 0 0;
  background-repeat: repeat;
}

/**************NEWS********************/

.news {
  width: 380px;
}

.news__title {
  font-size: 30px;
  line-height: 42px;
}

.news__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.news__time {
  text-transform: none;
}

/****************GALLERY*****************/

.gallery {
  width: 300px;
}

.gallery__title {
  font-size: 30px;
  line-height: 42px;
}

.gallery__photo {
  display: block;
  background-color: rgba(204, 204, 204, 1);
  border: 7px solid rgba(255, 255, 255, 1);
}

/************CONTACTS****************/

.contacts {
  width: 380px;
}

.contacts__title {
  font-size: 30px;
  line-height: 42px;
}

/***********APPOINTMENT***************/

.appointment {
  width: 300px;
}

.appointment__title {
  font-size: 30px;
  line-height: 42px;
}

.appointment__text-input {
  font: inherit;

  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 1);
}

.appointment__text-input:focus {
  border-color: rgba(102, 61, 21, 1);
}

/************FOOTER********************/

.base-footer {
  padding-top: 60px;
  padding-bottom: 40px;

  color: rgba(255, 255, 255, 1);

  background-color: rgba(33, 33, 33, 1);
  background-image: url("../img/fon-footer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.base-footer__link {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}

.base-footer__link:hover,
.base-footer__link:focus {
  text-decoration: none;
}

.base-footer__contacts {
  width: 320px;
}

.social-nav {
  width: 140px;
  text-align: center;
}

.social-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-nav__link {
  color: rgba(255, 255, 255, 1);
}

.copyright {
  width: 320px;
  padding-left: 180px;
  text-align: center;
}

.copyright__button:hover,
.copyright__button:focus {
  color: rgba(0, 0, 0, 1);

  background-color: rgba(255, 255, 255, 1);
}

/***********MODAL***************/

.modal-map {
  color: rgba(0, 0, 0, 1);

  background-color: rgba(248, 245, 242, 1);
  background-image: url("../img/fon-main.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-map__title {
  font-size: 30px;
  line-height: 42px;
}

.modal-login {
  color: rgba(0, 0, 0, 1);

  background-color: rgba(248, 245, 242, 1);
  background-image: url("../img/fon-main.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-login__title {
  font-size: 30px;
  line-height: 42px;
}

.modal-login__input {
  font: inherit;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;

  background-color: rgba(248, 245, 242, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.modal-login__input:focus {
  border-color: rgba(102, 61, 21, 1);
}

.modal-login__restore {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}

.modal-login__restore:hover,
.modal-login__restore:focus {
  text-decoration: none;
}

/***************CATALOG*******************/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.breadcrumbs__link {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  text-decoration: underline;
}

.breadcrumbs__link--current,
.breadcrumbs__link--current:hover,
.breadcrumbs__link--current:focus {
  color: rgba(171, 169, 167, 1);
  text-decoration: none;
}

.filters__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filters {
  width: 220px;
}

.filters__legend {
  font-size: 24px;
  line-height: 30px;
}

.filters__label {
  display: block;
  line-height: 18px;
}

.filters__input:hover + label,
.filters__input:focus + label {
  color: rgba(102, 61, 21, 1);
}

.filters__input:disabled + label {
  color: rgba(0, 0, 0, 0.5);
}

.catalog {
  width: 700px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.product {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: rgba(248, 248, 248, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product:nth-child(3n) {
  margin-right: 0;
}

.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product__title {
  font-size: 14px;
  line-height: 18px;
}

.product__title-link {
  color: rgba(0, 0, 0, 1);
}

.product__category {
  text-transform: none;
}

.product__price {
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: rgba(229, 229, 229, 1);
}

.button--product {
  line-height: 20px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-list__link {
  color: rgba(255, 255, 255, 1);

  background-color: rgba(0, 0, 0, 1);
}

.pagination-list__link:hover,
.pagination-list__link:focus,
.pagination-list__link:active {
  background-color: rgba(102, 61, 21, 1);
}

.pagination-list__link--current,
.pagination-list__link--current:hover,
.pagination-list__link--current:focus,
.pagination-list__link--current:active {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

/*************CATALOG-ITEM***********************/

.product-photos__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.product-photos {
  width: 460px;
}

.product-photo {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-info {
  width: 390px;
}

.product-info__article {
  text-align: right;
  color: rgba(174, 174, 174, 1);
}

.product-info__price {
  line-height: 20px;
  text-align: center;

  background-color: rgba(229, 229, 229, 1);
}

.product-info__sub-title {
  font-size: 24px;
  line-height: 30px;
}

.product-info__set-list {
  list-style-type: none;
}
